@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none; /* Untuk Firefox */
  -ms-overflow-style: none; /* Untuk Internet Explorer */
}

*::-webkit-scrollbar {
  display: none; /* Untuk Webkit browsers (Chrome, Safari) */
}

@keyframes topRotate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(10px) rotate(0deg);
  }
  100% {
    transform: translateY(10px) rotate(45deg);
  }
}

@keyframes resetTopRotate {
  0% {
    transform: translateY(10px) rotate(45deg);
  }
  50% {
    transform: translateY(10px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.top-rotate {
  animation: topRotate 0.5s ease-in-out forwards;
}
.reset-top-rotate {
  animation: resetTopRotate 0.5s ease-in-out forwards;
}

@keyframes centerRotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes resetCenterRotate {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.center-rotate {
  animation: centerRotate 0.5s ease-in-out forwards;
}

.reset-center-rotate {
  animation: resetCenterRotate 0.5s ease-in-out forwards;
}

@keyframes bottomRotate {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-10px) rotate(0);
  }
  100% {
    transform: translateY(-10px) rotate(45deg);
  }
}

@keyframes resetBottomRotate {
  0% {
    transform: translateY(-10px) rotate(45deg);
  }
  50% {
    transform: translateY(-10px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.bottom-rotate {
  animation: bottomRotate 0.5s ease-in-out forwards;
}

.reset-bottom-rotate {
  animation: resetBottomRotate 0.5s ease-in-out forwards;
}
